<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<title>HereDoc</title>
<link href="__STATIC__/layui/css/layui.css" media="all" rel="stylesheet" />
<link href="__STATIC__/heredoc/css/hbb.css" media="all" rel="stylesheet" />
</head>
<script type="text/javascript">
heredoc = "__STATIC__/heredoc/js/"
itemDel_url = "{:url('Item/itemDel')}"
</script>
<body>
  <div class="hbb">
     <div class="hbb-container">
        <div class="top-nav">
        	<div class="top-title">
        		<img src="__STATIC__/heredoc/image/logo.png" class="layui-nav-img" />
        		<span>HereDocs</span>
        	</div>
        	<div class="nav-top">
				<ul class="layui-nav"  style="text-align: right;">
				  	<li class="layui-nav-item">
				    	<a href="" class="re-msg">反馈</a>
				  	</li>		  
				  	<li class="layui-nav-item user-set">
				    	<a href="{:url('User/index')}"><img src="{$pic|get_avatar}" class="layui-nav-img"></a>
					    <dl class="layui-nav-child" style="text-align:center">
					      <dd><a href="{:url('User/set')}">修改信息</a></dd>
					      <dd><a href="javascript:;">消息</a></dd>
					      <dd><a href="{:url('Login/logout')}">退出</a></dd>
					    </dl>
				  	</li>
				</ul>                
        	</div>
        	<div class="clear"></div>
        </div>
         <div class="item">
             <ul class="">
             {foreach name="items" item="vo"}
                <li class="">
                  {if condition="$vo['url']"}
                  <a href="{:url('Cate/index',['url'=>$vo.url])}">
                  {else /}
                  <a href="{:url('Cate/index',['id'=>$vo.id])}">
                  {/if}
                        <div class="set-icon" data-id="{$vo.id}">
                           <i class="layui-icon layui-icon-share item-share" data-href="{:url('Share/index',['id'=>$vo['id']])}" data-domain="<?php echo request()->domain();?>"></i>
                           <i class="layui-icon layui-icon-set item-set" data-href="{:url('Item/set',['id'=>$vo['id']])}"></i>
                           <i class="layui-icon layui-icon-close item-del"></i>
                        </div>
                        <h6>{$vo.name}</h6>
                     </a>
                </li>
              {/foreach} 
                <li class="">
                     <a href="javascript:void(0)" class="new-item">
                        <h6><i class="layui-icon layui-icon-add-1"></i> 新建项目</h6>
                     </a>
                </li>
                <div class="clear"></div>
             </ul>
         </div>
     </div>
  </div>
  <div class="hbb-footer">
      <p>© 2018 <a href="http://www.heredoc.com/" target="_blank">heredoc.com</a></p>
      <p>
        <span><a href="http://www.layui.com/admin/#get" target="_blank">关于heredoc</a></span>
        <span><a href="http://www.layui.com/admin/pro/" target="_blank">github</a></span>
        <span><a href="http://www.layui.com/admin/" target="_blank">文档</a></span>
      </p>
    </div>
    <script charset="utf-8" src="__STATIC__/layui/layui.js"></script> 
    <script src="__STATIC__/editor/examples/js/jquery.min.js"></script>  
    <script src="__STATIC__/heredoc/js/jquery.zclip.min.js"></script>  
    <script type="text/javascript" src="__STATIC__/heredoc/js/jquery.form.js"></script>
        <script type="text/javascript" src="__STATIC__/heredoc/js/heredoc.js"></script>  
    
    <script type="text/javascript">
    	layui.use(['layer','element'], function(){
		  var layer = layui.layer,
       element = layui.element
		});              
        $('.new-item').click(function(){
		  	  layer.open({
				  type: 2,
				  area: ['400px', '550px'],
				  fixed: false, //不固定
				  maxmin: true,
				  title: "新建项目",
				  content: "{:url('item/itemAdd')}",
          end: function () {
              location.reload();
            }
				});
		  })
    </script>
</body>
</html>