<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<title>请输入密码</title>
<link href="__STATIC__/layui/css/layui.css" media="all" rel="stylesheet" />
</head>
<style type="text/css">
.app{
	width:100%;
}
.app-container{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	padding: 0 15px;
	box-sizing: border-box;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #ebeef5;
	background-color: #fff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	color: #303133;
	text-align: left;
	height: 280px;
	text-align:center;
}
</style>
<body>
   <div class="app">
       <div class="app-container">
       	    <h3 style="font-size:20px;font-weight:bold;display:inline-block;margin:40px 0px 15px 0px">请输入访问密码</h3>
       		<form class="layui-form" action="" style="margin:20px 20px;">
				   <div class="layui-form-item">
				      <input type="text" name="title" required  lay-verify="required" placeholder="请输入访问密码" autocomplete="off" class="layui-input">
				   </div>
					<div style="margin: 20px auto;">
				      <button class="layui-btn layui-btn-fluid">提交</button>
				    </div>
				    <a href="" style="color:#66b1ff">登录</a>			  
			</form> 
       </div>
   </div>
<script charset="utf-8" src="__STATIC__/layui/layui.js"></script>   
</body>
</html>